$primary: #bb0723;
$red: #bb0723;

html, body {
  background-color: #333333;
}

.logo-text {
  display: flex;
  align-items: center;
}

.v-application a {
  text-decoration: none;
}

.v-application .red {
  background-color: $red !important;
  border-color: $red !important;
}

.v-application .decidebien-content {
  .primary {
    background-color: $red !important;
    border-color: $red !important;
  }
}

.decidebien-content {
  background: #333;

  img.logo {
    display: inline-block;
    max-width: 200px;
  }

  h1 {
    margin: 0 10px;
    color: #fff;
  }

  h3 {
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: 27px;
    color:$red;
    line-height: 1.2em;
  }

  h4 {
    margin: 15px 0;
    font-weight: 400;
    color: #a7a7a7;
  }

  .intro {
    text-align: center;
    color: #fff;
  }

  .btn-explorar {
    margin-right: 15px;
    color: #fff !important;
    background-color: $red !important;
  }
}

.v-overlay__content {
  position: relative;
}

.grid-partidos {
  max-width: 1024px;
  margin: 0 auto;
}

.grid-presidencial {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;

  @media (max-width: 720px) {
    .container-grid {
      height: 60vh;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  .v-stepper__content {
    margin: 0 !important;
    padding: 0 !important;
  }

  .candidato {
    display: inline-block;
    width: 100px;
    margin: 10px;

    @media (max-width: 1024px) {
      width: 85px;
      margin: 10px;
    }

    @media (max-width: 600px) {
      width: 23.5%;
      margin: 10px;
    }
  }

  .theme--dark.v-overlay {
    color: #FFFFFF;
    overflow: scroll;
  }

  img {
    width: 100%;
  }

  .selection {
    color: $red !important;
  }

  .v-image__image {
    opacity: 0.7;
  }

  .v-item--active {
    background: $red !important;
  }

  &__name {
    font-size: 14px !important;
    word-wrap: normal;
  }
}

.decidebien-partido {
  .presidente {
    font-size: 15px;
    font-weight: 900;
  }

  .candidate-image{
    float: left;
    width: 75px;
    margin-right: 15px;
  }

  .cargo {
    font-size: 14px;
  }

  .congresistas {
    span {
      display: inline-block;
      background: $primary;
      color: #fff;
      padding: 2px 10px;
    }

    .name {
      width: 85%;
      float: right;
      cursor: pointer;
    }
  }

  .region {
    margin-bottom: 10px;
    font-size: 12px;
    color: $primary;
  }
}

.dialog-candidate {
  h3 {
    font-size: 18px;
  }

  h5 {
    font-size: 15px;
  }
}

.image-partido {
  position: relative;

  h4 {
    max-width: 140px;
    margin: 0 auto;
    padding: 3px;
    font-size: 12px;

    .mdi-cancel::before {
      content: "\F073A";
      color: #fff;
      font-size: 12px;
    }

    &.filter-0 {
      color: #fff;
      background: $primary;
    }
    
    &.filter-1 {
      color: #333;
      background: #5bbb07;
    }
  }

  .v-image__image--cover {
    background-size: contain;
    background-position: center;
  }
}

.decidebien-region {
  padding: 100px 0 !important;
  background-color: #333;
  background-size: cover;
  background-position: center;
  transition: background-image .2s ease-in-out;

  &.region_1 {
    background-image: url('./assets/1.png');
  }

  &.region_15 {
    background-image: url('./assets/15.png');
  }

  &.region_2 {
    background-image: url('./assets/2.png');
  }

  &.region_3 {
    background-image: url('./assets/3.png');
  }

  &.region_4 {
    background-image: url('./assets/4.png');
  }

  &.region_5 {
    background-image: url('./assets/5.png');
  }

  &.region_6 {
    background-image: url('./assets/6.png');
  }

  &.region_7 {
    background-image: url('./assets/7.png');
  }

  &.region_8 {
    background-image: url('./assets/8.png');
  }

  &.region_9 {
    background-image: url('./assets/9.png');
  }

  &.region_10 {
    background-image: url('./assets/10.png');
  }

  &.region_11 {
    background-image: url('./assets/11.png');
  }

  &.region_12 {
    background-image: url('./assets/12.png');
  }

  &.region_13 {
    background-image: url('./assets/13.png');
  }

  &.region_14 {
    background-image: url('./assets/14.png');
  }

  &.region_16 {
    background-image: url('./assets/16.png');
  }

  &.region_17 {
    background-image: url('./assets/17.png');
  }

  &.region_18 {
    background-image: url('./assets/18.png');
  }

  &.region_19 {
    background-image: url('./assets/19.png');
  }

  &.region_20 {
    background-image: url('./assets/20.png');
  }

  &.region_21 {
    background-image: url('./assets/21.png');
  }

  &.region_22 {
    background-image: url('./assets/22.png');
  }

  &.region_23 {
    background-image: url('./assets/23.png');
  }

  &.region_24 {
    background-image: url('./assets/24.png');
  }

  &.region_25 {
    background-image: url('./assets/25.png');
  }

  &.region_26 {
    background-image: url('./assets/26.png');
  }

  &.region_27 {
    background-image: url('./assets/27.png');
  }

  h1 {
    font-size: 21px;
    color: #fff;
    text-align: center;
  }

  .logo {
    display: block;
    width: 100%;
    max-width: 55px;
    margin: 0 auto;
  }

  .region-selected {
    max-width: 360px;
    margin: 0 auto;
    font-size: 31px;
    font-weight: 900;
    color: #fff;
    text-align: center;
  }

  .curul-selected {
    max-width: 360px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    text-align: center;
  }
}

.presidentes {
  padding: 0 15px;

  .candidato-name {
    margin: 10px 0;
    font-size: 12px;
    font-weight: 900;
  }

  h4 {
    max-width: 140px;
    margin: 0 auto;
    font-size: 14px;
    
    &.filter-0 {
      color: #fff;
      background: $primary;
    }
    
    &.filter-1 {
      color: #333;
      background: #5bbb07;
    }
  }
}


.partidos-stepper {
  height: 60vh;
  overflow-y: scroll;

  .partido-selector {
    width: 30%;
    margin: 5px;
    float: left;
  
    .v-image__image--cover {
      background-size: contain;
    }
  }
}

.filters-container {
  padding: 15px 25px;
  max-height: 320px;
  overflow-y: scroll;

  .v-messages {
    display: none !important;
  }
}

.item-info {
  margin-bottom: 15px;
  font-size: 15px;

  h4 {
    font-size: 12px;
    width: 175px;
    color: #bb0723;
  }
}

.partido-name {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  min-height: 45px;
  line-height: 1.2em;

  a {
    color: #333 !important;
  }

  h3 {
    text-align: left;
    font-size: 16px;
  }
}

.partido-ranking-container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  text-align: center;

  .v-item-group {
    flex-wrap: nowrap;
    display: block;
    max-width: 720px;
    margin: 25px auto;
  }

  .v-btn.v-size--default {
    font-size: 12px !important;
    padding: 3px 5px !important;
    height: 35px !important;
  }
}

.partido-ranking {
  position: relative;

  .partido {
    display: inline-block;
    width: 100%;
    max-width: 240px;
    min-height: 400px;
  }

  .graph .graph-item {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px;

    &.active {
      background: #e6dcff;
    }

    label {
      width: 80px;
      max-width: 90px;
      font-size: 12px;
      line-height: 10px;
    }

    div {
      position: relative;
      width: 150px;
      background: #e0e0e0;
      font-size: 11px;
    }

    span {
      display: block;
      position: absolute;
      right: 0;
      padding: 0 2px;
      text-shadow: 1px 1px 1px #fff;
      z-index: 9;
    }

    .percent {
      background: #bb0723;
      width: 100%;
      height: 15px;

      &.promedio-edad {
        background: #14666f;
      }

      &.joven {
        background: #5c8488;
      }

      &.mayor {
        background: #9fdce2;
      }

      &.ingresos {
        background: #3e9840a6;
      }

      &.estudios {
        background: #c77885;
      }

      &.experiencia {
        background: #bb9d07;
      }

      &.mujeres {
        background: #0798bb;
      }
    }
  }
}